/* set container height */
.valign-wrapper.content{
  height: 80% ;
}

.center-align.row{
  margin-bottom: 0px;
}
.container .row .col.empty{
  visibility: hidden;
}

/* quote - card container */
#card-quote{
  margin-bottom: 8px;
}

#menu .waves-ripple{
  background-color: var(--primary) !important;
  left: 56% !important;
  top: 56% !important;
  height: 25% !important;
  width: 25% !important;
}

/* load quote animation */
@keyframes load-data-animation {
  0%   {transform:rotate(0deg)}
  100% {transform:rotate(360deg)}
}

.input-field.time-notification{
  margin: 30px !important;
  margin-top: 0px !important;

}


.card.scale-transition{
  transition-duration: .6s !important;

}
.card.scale-transition .card-content{
  transition-duration: .4s !important;
  overflow: auto;
}

#content-text-author{
  transition-duration: 1s;
  margin-top: 0px;
  color: white;
  background-color: var(--primary);
  padding:6px;
  border-radius: 2px;
  visibility: hidden;
}