/* top navbar style */
nav{
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}
nav a{
  text-transform: uppercase;
  color: var(--title);
}
nav a span{
  font-weight: bold;
}

nav span i{
  color: var(--title);
}
nav .sidenav-trigger{
  margin: 0;
}